body {
    font: 18px Arial, sans-serif;
    margin: 0px;
}

/* grid container */
.holy-grail-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';
}

/* general column padding */
.holy-grail-grid>* {
    padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail-grid>.header {
    grid-area: header;
    background: #e95922;
}

header {
    display: grid;
}
header h1 {
    place-self: center;
}
.buttons {
    display: grid;
    align-self: center;
}

.holy-grail-grid>.main-content {
    grid-area: main-content;
    background: #f2f2f2;
}

.holy-grail-grid>.left-sidebar {
    grid-area: left-sidebar;
    background: #f5d55f;
}

.holy-grail-grid>.right-sidebar {
    grid-area: right-sidebar;
    background: #c5ed77;
}

.holy-grail-grid>.footer {
    grid-area: footer;
    background: #e95922;
}
footer {
    display: grid;
}
footer p {
    place-self: center;
}

section ul {
     list-style-type: none;
}
a {
  text-decoration: none;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'header header header header'
            'left-sidebar main-content main-content right-sidebar'
            'footer footer footer footer';
    }
}