/* Custom Styles */
.scripts {
    background-color: #e77f57;
}

header {
    background-color: #e95922;
}

header h1 {
    text-align: center;
}

body {
    font: 14px Arial, sans-serif;
    margin: 0px;
}

.header {
    padding: 10px 20px;
    background: #e95922;
}

.header h1 {
    font-size: 24px;
    text-align: center;
}

.container {
    width: 100%;
    background: #f2f2f2;
}

.nav,
.section {
    float: left;
    padding: 20px;
    min-height: 170px;
    box-sizing: border-box;
}
.aside {
    float: right;
    padding: 20px;
    min-height: 170px;
    box-sizing: border-box;
}

.nav, .aside {
    width: 20%;
    background: #e77f57;
}

.section {
    width: 80%;
}

.nav ul {
    list-style: none;
    line-height: 24px;
    padding: 0px;
}

.nav ul li a {
    color: #333;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.footer {
    background: #e95922;
    text-align: center;
    padding: 5px;
}